
/* Untuk Tablets */
@media all and (max-width: 1000px) {
  .top-header{
    width:80%;
    padding:0px;
  }
  .top-wrapper{
  width:80%;
  }
  .lesson {
    width: 80%;
    margin-bottom: 50px;
    }
  
  .top-wrapper h2 {
    font-size: 32px;
  }
  main{
    width:80%;
  }
  
  .heading h3 {
    font-size: 20px:
  }
  
}

/* Untuk Smartphones */
@media all and (max-width:670px) {
  
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .top-wrapper {
    width:100%;
    text-align: left;
  }
  main{
    width:100%;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h2 {
    font-size: 24px;
    line-height: 36px;
  }
  
}
