html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans MT';
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  width: 1170px;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.lesson-wrapper {
  height: 1700px;
  background-color: #121212;
}

.heading {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #5f5d60;
  font-weight: normal;
  text-align: center;
}


.tempat{
  display: flex;
  justify-content: space-between;
  
}
.tempat2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.foto {
    position: relative;
    width: 290px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.7s;
    
  }
  
  .foto:hover .title{
    opacity: 1;
    cursor: default;
  }
  
.text1{
    color:white;
    font-size: 30px;
    padding: 20px 0 20px 20px;
    
}
.text2{
    color:white;
    font-size: 20px;
    padding: 0 20px;
}




.footer{
    height:50px;
    line-height:50px;
    background:#333;
    color:#fff;
    position:absolute;
    bottom:0px;
     width:100%;
  }
